<h4 class="border-bottom text-uppercase">Orders List</h4>
<div class="text-right"><a routerLink="/admin/create-order" class="btn btn-success">Create Order</a></div>
<form class="form-horizontal">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Status</label>
                <select class="form-control" name="status" [(ngModel)]="filter.statusID" (change)="getOrdersList()">
                    <option *ngFor="let status of statusList" [ngValue]="status.id">{{ status.name }}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Status</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="filter.name" (change)="getOrdersList()" />
            </div>
        </div>
    </div>
</form>
<div>
    <div *ngFor="let order of list" class="m-2 border p-2" (click)="navigateToOrder(order)">
        <div># <a>{{ order.id }}</a> {{ order.name }} <i>on</i> {{ order.orderDate }}</div>
        <div class="row">
            <div class="col">
                Price: ₹ {{ order.price }}
            </div>
            <div class="col text-right">
                <b class="text-success text-right">+ ₹ {{ order.margin }}</b>
            </div>
        </div>
        <div>{{ order.statusName }}</div>
    </div>
</div>