<div class="row">
    <div class="col-6 p-0 px-1 mt-2">
        <div class="card">
            <div class="card-header">Total Order</div>
            <div class="card-body">
                <h4 class="text-primary">{{ dashboard.totalOrder }}</h4>
            </div>
        </div>
    </div>
    <div class="col-6 p-0 px-1 mt-2">
        <div class="card">
            <div class="card-header">Total Completed</div>
            <div class="card-body">
                <h4 class="text-primary">{{ dashboard.totalCompleted }}</h4>
            </div>
        </div>
    </div>
    <div class="col-6 p-0 px-1 mt-2">
        <div class="card">
            <div class="card-header">Total Sales</div>
            <div class="card-body">
                <h4 class="text-primary">₹ {{ dashboard.totalSales }}</h4>
            </div>
        </div>
    </div>
    <div class="col-6 p-0 px-1 mt-2">
        <div class="card">
            <div class="card-header">Total Margin</div>
            <div class="card-body">
                <h4 class="text-success">₹ {{ dashboard.totalMargin }}</h4></div>
        </div>
    </div>
</div>